Official-Metirials/
**.zip
**.p
**/model_data

**/checkpoint
**/*_model.ckpt.*

**/.idea
**/__pycache__

**/test_img
**/traffic-signs-data

**/Lesson09_Transfer_Learning/AlexNet/train.p
**/Lesson09_Transfer_Learning/AlexNet/MyImplement/bvlc-alexnet.npy
